.message-box-outer-container{
  position: absolute;
  height: 5vh;
  line-height: 5vh;
  width: auto;
  border-radius: 2%;

  bottom: 2vh;
  right: 0;
}
.message-box-outer-container span,
.message-box-outer-container svg{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: medium;
}

.message-box-status-span{
  font-weight: bold;
}
.message-box-message-span{
  margin-left: 0.5vw;
  margin-right: 1vw;
}