@import 'animations.css';

.message-box-holder{
  display: flex;
  position: fixed;
  flex-direction: column-reverse;
  max-height: 50%;
  bottom: 2vh;
  overflow-x: hidden;
  overflow-y: auto;
  right: 10px;
}
.message-box-outer-container{
  display: flex;
  position: relative;
  flex-grow: 1;
  border-radius: 5%;
  margin-top: 5px;
}
.message-box-outer-container div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: medium;
}
.message-box-status-span{
  font-weight: bold;
}
.message-box-message-span{
  margin-left: 0.5vw;
  margin-right: 1vw;
}